pkgbase = obsidian-electron-bin
	pkgdesc = Obsidian with the latest system Electron (prebuilt GitHub release)
	pkgver = 1.13.7
	pkgrel = 8
	url = https://github.com/fansion314/obsidian
	arch = x86_64
	license = LicenseRef-Obsidian
	depends = bash
	depends = electron
	depends = fontconfig
	depends = zlib
	depends = hicolor-icon-theme
	provides = obsidian=1.13.7
	provides = obsidian-electron=1.13.7
	conflicts = obsidian
	conflicts = obsidian-electron
	noextract = obsidian-electron-1.13.7-8-x86_64.pkg.tar.zst
	options = !strip
	options = !debug
	source_x86_64 = https://github.com/fansion314/obsidian/releases/download/v1.13.7-8/obsidian-electron-1.13.7-8-x86_64.pkg.tar.zst
	sha256sums_x86_64 = c26488ecae657a0429aeac81dee9c8f3575e17a8e2378ba31cd7767b2d264377

pkgname = obsidian-electron-bin
