pkgbase = obsidian-electron-bin
	pkgdesc = Obsidian with the latest system Electron (prebuilt GitHub release)
	pkgver = 1.13.7
	pkgrel = 3
	url = https://github.com/fansion314/obsidian
	arch = x86_64
	license = LicenseRef-Obsidian
	depends = bash
	depends = electron
	depends = fontconfig
	depends = zlib
	depends = hicolor-icon-theme
	provides = obsidian=1.13.7
	provides = obsidian-electron=1.13.7
	conflicts = obsidian
	conflicts = obsidian-electron
	options = !strip
	options = !debug
	source_x86_64 = https://github.com/fansion314/obsidian/releases/download/v1.13.7-3/obsidian-electron-1.13.7-3-x86_64.tar.gz
	sha256sums_x86_64 = eb53bb64d3618c6c523a1bd5e7fadd0296296695e93337cd7f79842c7d509761

pkgname = obsidian-electron-bin
